# Ignorar directorio target y todo su contenido
target/

# Ignorar directorio configuration y todo su contenido

# Ignorar archivo docker-compose.yml
docker-compose.yml

# Ignorar archivo fly.toml
fly.toml

.env
.sqlx
